/* #root {
    background-image: url("images/velvet.jpg")
} */

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/tarot.jpg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 3px 6px #000, 0 3px 6px #999;
}

.drawBtn {
    margin-bottom: 20px;
}

.cardContent {
    font-size: 14px;
}

.wrapper {
    padding-bottom: 40px;
}

img {
    padding-bottom: 40px;
}

footer {
    padding: 10px 0px 25px 0px;
    font-size: 12px;
    color: white;
    text-align: center;
    height: 30px;
    background-color: darkslateblue;
    border-top: 1px solid red;
}

.react-icon {
    font-size: 1.3em;
    -webkit-animation:spin 25s linear infinite;
    -moz-animation:spin 25s linear infinite;
    animation:spin 25s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
